#selectItem{
    padding: 15px;
    border: 1px solid #333333;
    border-radius:7px;
    overflow-x: auto;
}
#selectItem a{
    margin-left:5%;
}
.content{margin-top:20px;}
#leftPanel a{
    margin-bottom:70px;
}
#wizardPanel{
    border: 1px solid #333333;
    max-width:70%;
    height: auto;
}

.productFront, .productBack{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wizardPanel{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.img-responsive{
    width:100%;
    height:auto;
}
.menage{
    display: inline-block;
    position:absolute;
    right: 0px;
    bottom: -60px;
    z-index: 10;
}

.rotate{
    position: absolute;
    left: 0;
    bottom: -80px;
    height: 60px;
    width: 100%;
}

.height-responsive{
    height: 100%;
    width: auto;
}


.add-file{
    position: absolute;
    width: 100px;
    height: 100px;
}

.added-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-preview{
    height: 25px;
    width: 150px;
}

.lightbox{
    display: none;
    background: #fff;
    position: absolute;
    margin: auto;
    top: 50%;
    margin-top: -400px;
    right: 50%;
    margin-right: -300px;
    height: auto;
    width: 600px;
    border: 1px solid #333333;
    z-index: 99;
}

.new-image{
    width: 100%;
    height: 100%;
}

#image, .text-form, .front{
    display: none;
}
.empty-text{
    display: none !important;
}
.editable-unsaved{
    background-color: rgba(255,255,255,0.0) !important;
    border-bottom: dashed 0px #0088cc !important;
}
.ui-draggable{
position: absolute !important;
}