#selectItem{
    padding: 15px;
    border: 1px solid #333333;
    border-radius:7px;
    overflow-x: auto;
}
#selectItem a{
    margin-left:5%;
}
.content{margin-top:20px;}
#leftPanel a{
    margin-bottom:70px;
}
#wizardPanel{
    border: 1px solid #333333;
    max-width:70%;
}
.img-responsive{
    width:100%;
    height:auto;
}
.menage{
    position:absolute;
    right: 0px;
    bottom: 0px;
}

.rotate{
    position: absolute;
    left: 0;
    bottom: -80px;
    height: 60px;
    width: 100%;
}

.height-responsive{
    height: 100%;
    width: auto;
}

.front{
    display: none;
}
